.hero {
    position: relative;
    width: 100%;
    height: 300px; 
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.hero-text h1 {
    font-size: 36px;
    margin: 0;
    font-weight: 600;
}

.hero-text p {
    font-size: 16px;
    margin-top: 8px;
}

/* Contact Form Section */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px; 
    padding-top: 80px; 
    padding-bottom: 80px; 
    font-family: Arial, sans-serif;
    color: black; 
}

.contact-form h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: black; 
}

.contact-form p.intro {
    text-align: center;
    color: #6c757d;
    margin-bottom: 100px; 
    font-size: 16px; 
}

.contact-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
    margin-bottom: 60px; 
    color: black; 
}

.contact-info {
    width: 40%; 
    text-align: left; 
    color: black; 
}

.contact-info p {
    font-size: 18px; 
    margin-bottom: 30px; 
    color: black; 
}

.contact-info strong {
    font-weight: bold;
}

.contact-info i {
    margin-right: 8px;
    color: #000;
    font-size: 20px; 
}

.form-inputs {
    width: 55%; 
}

.form-inputs div {
    margin-bottom: 50px; 
}

.form-inputs label {
    display: block;
    font-size: 16px; 
    margin-bottom: 8px;
    color: black; 
    font-weight: bold; 
}

.form-inputs input,
.form-inputs textarea {
    width: 100%;
    max-width: 500px; 
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px; 
    color: black; 
}

.form-inputs textarea {
    resize: vertical; 
    max-height: 200px; 
}

.form-inputs button {
    background-color: #b18d60;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 200px; 
    font-size: 16px; 
}

.form-inputs button:hover {
    background-color: #a37542;
}

.error {
    color: red; 
    font-size: 14px; 
}

@media (max-width: 768px) {
    .contact-details {
        flex-direction: column;
        align-items: center;
    }

    .contact-info {
        width: 100%;
        text-align: left; 
        margin-bottom: 30px; 
    }

    .form-inputs {
        width: 90%;
    }

    .form-inputs input,
    .form-inputs textarea {
        max-width: 100%; 
    }

    .form-inputs button {
        max-width: 100%; 
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 36px; 
    }

    .hero-text p {
        font-size: 16px; 
    }

    .contact-form h2 {
        font-size: 28px; 
    }

    .contact-form p {
        font-size: 16px; 
    }

    .contact-info p {
        font-size: 16px; 
    }

    .form-inputs div {
        margin-bottom: 15px; 
    }
}